<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Carrito de Compras</h1>
    </header>

    <main>
        <div id="cart" class="cart-container visible">
            <h4>Carrito de Compras</h4>
            <div id="cart-items">
                <!-- Productos agregados -->
            </div>
            <div>
                <p>Total: $<span id="cart-total">0</span></p>
                <button id="empty-cart" class="btn btn-danger">Vaciar Carrito</button>
                <button id="checkout-cart" class="btn btn-success">Finalizar Compra</button>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Mi Tienda. Todos los derechos reservados.</p>
    </footer>

    <script src="/js/cart.js"></script>
</body>
</html>